@model TourSite.Models.Kullanici


@{ViewBag.Title = "Kullanıcı Ekle";}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-horizontal">
                <h4>Yeni kullanıcı bilgileri</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.adi, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.adi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.adi)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.soyadi, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.soyadi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.soyadi)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.kadi, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.kadi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.kadi)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.sifre, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.sifre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.sifre)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Ekle" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Kullanıcı listesi", "Index", null, new { @class = "btn btn-link" })
</div>
